
body{
  background-image: linear-gradient(rgb(45, 44, 44),white,rgb(240, 212, 217));
  height: 650px;
}
.head{
  text-align: center;
  color:aquamarine;
  text-shadow: 4px 4px black;
}
.center{
  text-align: center;
  color:rgba(1, 1, 1, 0.9);
}
.button{
  background-color: black;
  color: aqua;
  position: relative;
  top:190px;
 display: flex;
 row-gap: 10px;
 justify-content: center;
 align-items: center;
}